@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
  --main-color: #393939;
  --secondary-color: #181818;
  --action-color: #e61d2e;
  --text-color: #fff;
  --border-radius: .5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  padding: 0;
  margin: 0;
  font-size: 4rem;
}

h2{
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
}

h3{
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

h4{
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
}

